*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Yuji Mai", serif;
    

}
.zarina{
    color: rgb(52, 134, 166);
    width: 600px;
}
.text {
    background-image: linear-gradient(rgb(114, 248, 114), rgb(224, 255, 100));
}

.imo {
    text-decoration: none;
    color: bisque;
    background-color: aqua;
    width: 50px;
    padding: 10px;
    border-radius: 10px;
}

.imo:hover {
    background-image: linear-gradient(blue, green);
    box-shadow: 0px, 0px, 0px, 10px black;
    color: bisque;  
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 5);;
}


.soz{
    background-image: linear-gradient(rgba(106, 216, 106, 0.865), rgb(138, 138, 240));
    color: antiquewhite;
    width: 500px;
    padding: 50px 50px 50px 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.soz:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 5);;
    transform: (720deg) rotateX(720deg) rotateZ(600deg) rotate(350deg);
} 